{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urfolio</title>
    <link rel="stylesheet" href="../style/standart.css">
    <link rel="stylesheet" href="{% static 'vendor/style/standart.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/style/login.css' %}">
</head>
<body>
    <header>
        <a href="/"><img src="{% static 'vendor/assets/img/logo.png' %}" alt="Логотип"></a>
    </header>
    <hr>
    <main>
        <div class="login__wrapper">
            <h1>С возвращением!</h1>
            <form class="login" action="{% url 'login' %}" method="post"> <!-- action – это веб-адрес (URL) программы, которая обрабатывает данные формы. -->
                <label for="{{ form.username.id_for_label }}">Имя</label>
                {% csrf_token %}
                {{ form.username }}
                <label for="{{ form.password.id_for_label }}">Пароль</label>
                {% csrf_token %}
                {{ form.password }}
                <!--<a href="#" class="standart-text_light-grey">Забыли пароль?</a>-->
                <button type="submit" class="sumbit-btn sumbit-text">Войти</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="none-register">
            <span class="standart-text_light-grey">У вас ещё нет аккаунта?<a href="{% url 'register' %}" class="standart-text go-to-regist">Зарегистрируйтесь</a></span>
        </div>
    </footer>
</body>
</html>
