{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urfolio</title>
    <link rel="stylesheet" href="../style/standart.css">
    <link rel="stylesheet" href="{% static 'vendor/style/standart.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/style/login.css' %}">
</head>
<body>
    <header>
        <a href="/"><img src="{% static 'vendor/assets/img/logo.png' %}" alt="Логотип"></a>
    </header>
    <hr>
    <main>
        <div class="login__wrapper">
            <h1>С возвращением!</h1>
            <form class="login" action="{% url 'login' %}" method="post"> <!-- action – это веб-адрес (URL) программы, которая обрабатывает данные формы. -->
                {{ form }}
                {% csrf_token %}
                <button type="submit">Submit</button>

                <!--<label for="email">E-mail</label>
                <input type="email" placeholder="Введите ваш email" id="email" name="user_email">

                <label for="password">Пароль</label>
                <input type="password" placeholder="Введите пароль" id="password" name="user_password">
                <a href="#" class="standart-text_light-grey">Забыли пароль?</a>
                <button type="submit" class="sumbit-btn sumbit-text">Войти</button>-->
            </form>
        </div>
    </main>
    <footer>
        <div class="none-register">
            <span class="standart-text_light-grey">У вас ещё нет аккаунта?<a href="{% url 'register' %}" class="standart-text go-to-regist">Зарегистрируйтесь</a></span>
        </div>
    </footer>
</body>
</html>




<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Urfolio - вход</title>
</head>
<body>
    <a href="/">На главную</a>
    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method = "post">
        {{ form }}
        {% csrf_token %}
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'register' %}">Ещё нет аккаунта? Зарегистрируйтесь!</a>
</body>
</html>-->