{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'vendor/style/profile.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/style/standart.css' %}">
</head>
<body>
    <header>
        <a href="/"><img src="{% static 'vendor/assets/img/logo.png' %}" alt="Логотип"></a>
    </header>
    <hr>
    <main>
        <div class="profile-info">
            <div class="profile-avatar">
                <img src="{{ profile.user.profile.image.url }}" alt="">
            </div>
            <div class="user-info">
                <div class="user-info__top">
                    <h2>{{ profile.user.username }}</h2>
                </div>
                <div class="user-description">
                    <p><b>Описание профиля</b></p> <br>
                </div>
                <div class="user-links">
                    {% if profile.user.profile.github_link %}
                        <a href="{{ profile.user.profile.github_link }}"><img src="{% static 'vendor/assets/img/github.png' %}" width="40px" alt=""></a>
                    {% endif %}
                    {% if profile.user.profile.figma_link %}
                        <a href="{{ profile.user.profile.figma_link }}"><img src="{% static 'vendor/assets/img/figma.png' %}" width="40px" alt=""></a>
                    {% endif %}
                    {% if profile.user.profile.vk_link %}
                        <a href="{{ profile.user.profile.vk_link }}"><img src="{% static 'vendor/assets/img/vk.png' %}" width="40px" alt=""></a>
                    {% endif %}
                    {% if profile.user.profile.tg_link %}
                        <a href="{{ profile.user.profile.tg_link }}"><img src="{% static 'vendor/assets/img/tg.png' %}" width="40px" alt=""></a>
                    {% endif %}
                    {% if profile.user.profile.cloud_link %}
                        <a href="{{ profile.user.profile.cloud_link }}"><img src="{% static 'vendor/assets/img/could.png' %}" width="40px" alt=""></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="user-project__wrapper">
            <div class="user-project">
                <button class="profile-list" id="button_user_project">
                    <svg id="svg_list_status" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="8" x2="8" y2="16" stroke="#95A1BB" stroke-width="2"/>
                        <line y1="8" x2="16" y2="8" stroke="#95A1BB" stroke-width="2"/>
                    </svg>
                    <h1>Проекты пользователя</h1>
                </button>
                <div class="list-project__wrapper" id="list_project">
                    <div class="list__wrapper">
                        <div class="project-gallery">
                            <div class="gallery-feed">
                                {% for project in projects %}
                                    {% if project.author == profile.user %}
                                    <div class="gallery-item">
                                        <h2>{{ project.name }}</h2>
                                        <a href="{% url 'projects:project_detail' pk=project.id %}">
                                            <img src="{{ project.image.url }}" width="400" height="300" alt="">
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            <div class="user-project">
                <button class="profile-list" id="button_liked_project">
                    <svg id="svg_list_status" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="8" x2="8" y2="16" stroke="#95A1BB" stroke-width="2"/>
                        <line y1="8" x2="16" y2="8" stroke="#95A1BB" stroke-width="2"/>
                    </svg>
                    <h1>Пользователь оценил</h1>
                </button>
                <div class="list-project__wrapper" id="list_project">
                    <div class="list__wrapper">
                        <div class="project-gallery">
                            <div class="gallery-feed">
                                {% for project in projects %}
                                    {% if profile.user in project.slikess.all %}
                                    <div class="gallery-item">
                                        <h2>{{ project.name }}</h2>
                                        <a href="{% url 'projects:project_detail' pk=project.id %}">
                                            <img src="{{ project.image.url }}" width="400" height="300" alt="">
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'vendor/js/profile.js' %}" defer></script>
</body>
</html>