{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'vendor/style/standart.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/style/profile.css' %}">
</head>
<body>
    <header>
        <a href="/"><img src="{% static 'vendor/assets/img/logo.png' %}" alt="Логотип"></a>
    </header>
    <hr>
    <main>
        <div class="profile-info">
            <div class="profile-avatar">
                <img src="{{ user.profile.image.url }}" alt="">
            </div>
            <div class="user-info">
                <div class="user-info__top">
                    <h2>{{ user.username }}</h2>
                    <h3>{{ user.email }}</h3>
                    <a href="{% url 'projects:project_create' %}" class="standart-text_light-grey">Добавить проект</a>
                    <a href="{% url 'profile-management' %}" class="standart-text_light-grey">Редактировать профиль</a>
                </div>
                <div class="user-description">
                    <p><b>Описание профиля</b></p> <br>
                    <p class="description">{{ user.profile.description }}</p>
                </div>
            </div>
        </div>
        <div class="user-project__wrapper">
            {% for project in projects %}
                {% if user in project.slikess.all %}
                    <div class="feed__item">
                        <a href="#" id="user-project__link"><img src="{% static 'vendor/assets/img/project-photo.png' %}" alt="Привью проекта" id="project-photo"></a>
                    <div class="project__card">
                        <div class="project__title">
                            <a href="#" id="user-project__link">
                                <h2 id="name-progect">{{ project.name }}</h2>
                            </a>

                            <span id="project-date">20 Map 2024</span>
                            <p class="progect__description"><b>Описание проекта</b><br> <span id="progect__description">{{ project.description }}</span></p>
                        </div>
                        <div class="project__information">
                            <a href="{% url 'projects:project_detail' pk=project.id %}">Подробнее</a>
                            <div class="project__rating">
                                <div class="like__wrapper">
                                    {% include 'snippets/likes.html' %}
                                </div>
                                <div class="info__rating-project">
                                    <button type="button" id="share"><img src="{% static 'vendor/assets/img/Share.png' %}" alt="Иконка поделиться"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}


                {% if project.author == user %}
            <div class="feed__item">
                        <a href="#" id="user-project__link"><img src="{% static 'vendor/assets/img/project-photo.png' %}" alt="Привью проекта" id="project-photo"></a>
                    <div class="project__card">
                        <div class="project__title">
                            <a href="#" id="user-project__link">
                                <h2 id="name-progect">{{ project.name }}</h2>
                            </a>

                            <span id="project-date">20 Map 2024</span>
                            <p class="progect__description"><b>Описание проекта</b><br> <span id="progect__description">{{ project.description }}</span></p>
                        </div>
                        <div class="project__information">
                            <a href="{% url 'projects:project_detail' pk=project.id %}">Подробнее</a>
                            <div class="project__rating">
                                <div class="like__wrapper">
                                    {% include 'snippets/likes.html' %}
                                </div>
                                <div class="info__rating-project">
                                    <button type="button" id="share"><img src="{% static 'vendor/assets/img/Share.png' %}" alt="Иконка поделиться"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <div class="user-project">
                <button class="profile-list" id="list-project">
                    <svg id="svg_userProject" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="8" x2="8" y2="16" stroke="#95A1BB" stroke-width="2"/>
                        <line y1="8" x2="16" y2="8" stroke="#95A1BB" stroke-width="2"/>
                    </svg>
                    <h1>Ваши проекты</h1>
                </button>
                <ul class="list-project" id="list">
                    <li>
                        <h2>My Project 1</h2>
                        <div class="interaction-project">
                            <a href="#" class="standart-text_light-grey project-profile_text">Редактировать</a>
                            <a href="#" class="standart-text_light-grey project-profile_text">Удалить</a>
                        </div>
                    </li>
                    <a href="#">
                        <div class="sumbit-btn">Добавить проект</div>
                    </a>
                </ul>
            </div>
            <div class="user-project">
                <button class="profile-list" id="list-project">
                    <svg id="svg_status_liked" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="8" x2="8" y2="16" stroke="#95A1BB" stroke-width="2"/>
                        <line y1="8" x2="16" y2="8" stroke="#95A1BB" stroke-width="2"/>
                    </svg>
                    <h1>Вам понравилось</h1>
                </button>
                <ul class="list-project" id="list">
                    <li>
                        <h2>Project 1</h2>
                        <div class="interaction-project">
                            <p id="type-project" class="project-profile_text">Тип проекта</p>
                            <p id="year-project" class="project-profile_text">2023-2024</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="{% static 'vendor/js/profile.js' %}" defer></script>
</body>
</html>