{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'vendor/style/profileEdit.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/style/standart.css' %}">
</head>
<body>
    <header>
        <a href="/"><img src="{% static 'vendor/assets/img/logo.png' %}" alt="Логотип"></a>
    </header>
    <hr>
    <main>
        <h1>Редактировать профиль</h1>
        <form form action="" name="user-info" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="edit-description">
                <div class="user-photo">
                    <img src="{{ request.user.profile.image.url }}" alt="">
                    <label class="input-file">
                            {{ p_form.image }}
                            <span>Выберите файл</span>
                        </label>
                </div>
                <div class="name-description">
                        <label for="name"><h3>Имя пользователя</h3></label>
                        {{ u_form.username }}
                        <label for="descript"><h3>Описание профиля</h3></label>
                        {{ p_form.description }}
                </div>
            </div>
            <div class="edit-other">
                <div class="edit-link">
                    <h2>Ссылки в профиле</h2>
                    <div class="links">
                        <label for="name"><img src="{% static 'vendor/assets/img/vk.png' %}" alt=""></label>
                        {{ p_form.vk_link }}
                        <label for="name"><img src="{% static 'vendor/assets/img/tg.png' %}" alt=""></label>
                        {{ p_form.tg_link }}
                        <label for="name"><img src="{% static 'vendor/assets/img/github.png' %}" alt=""></label>
                        {{ p_form.github_link }}
                        <label for="name"><img src="{% static 'vendor/assets/img/figma.png' %}" alt=""></label>
                        {{ p_form.figma_link }}
                        <div class="input__wrapper">
                            <label for="name"><img src="{% static 'vendor/assets/img/could.png' %}" alt=""></label>
                            {{ p_form.cloud_link }}
                        </div>
                        <button type="submit">Применить изменения</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer></footer>
</body>
</html>